In [79]:
import pandas as pd

ratings_movies = pd.read_csv('data/ratings_movies.csv')

In [80]:
ratings_movies.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [81]:
import re

In [82]:
def get_year_release(arg):
    candidates = re.findall(r'\(\d{4}\)', arg)
    if len(candidates) > 0:
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return round(int(year))
    else:
        return None

In [83]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)

In [84]:
ratings_movies

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0
...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0

In [85]:
ratings_movies['year_release'].count()

100818

In [86]:
mask = ratings_movies['year_release']==1999
ratings_movies[mask].sort_values(by=['rating']).loc[:, ['rating', 'title']]

       rating                                         title
68328     0.5                        Double Jeopardy (1999)
27637     0.5                         Wild Wild West (1999)
78748     0.5                         She's All That (1999)
20882     0.5                         Arlington Road (1999)
21326     0.5  Austin Powers: The Spy Who Shagged Me (1999)
...       ...                                           ...
23095     5.0                             Fight Club (1999)
76131     5.0                       Cookie's Fortune (1999)
22970     5.0                   Being John Malkovich (1999)
76136     5.0   South Park: Bigger, Longer and Uncut (1999)
162       5.0                           Office Space (1999)

[4536 rows x 2 columns]

In [87]:
ratings_movies[mask].groupby(by='title')['rating'].mean().sort_values()

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

In [88]:
mask = ratings_movies['year_release']==2010
ratings_movies[mask].groupby(by='genres')['rating'].mean().sort_values()

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

In [89]:
ratings_movies.groupby(by='userId')['genres'].nunique().sort_values(ascending=False)

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

In [90]:
ratings_movies.groupby(by='userId')['rating'].agg(['count', 'mean']).\
    sort_values(by=['count', 'mean'], ascending=[True, False])

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

In [91]:
mask = ratings_movies['year_release']==2018

grouped = ratings_movies[mask].groupby(by='genres')['rating'].agg('mean', 'count').sort_values(ascending=False)

In [92]:
grouped = ratings_movies[mask].groupby('genres')['rating'].agg(
    ['mean', 'count']
)
grouped[grouped['count']>10].sort_values(
    by='mean',
    ascending=False)

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

In [93]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])
ratings_movies['year_rating'] = ratings_movies['date'].dt.year

In [94]:
ratings_movies.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release,year_rating
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,2000
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0,2000
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0,2000
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0,2000
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0,2000

In [95]:
pivot = ratings_movies.pivot_table(values='rating', index='year_rating', columns='genres', aggfunc='mean', fill_value=0)

In [96]:
mask = pivot.index==2018

In [97]:
pivot[mask]['Animation|Children|Mystery']

year_rating
2018    5
Name: Animation|Children|Mystery, dtype: int64

In [101]:
pivot

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|IMAX,Sci-Fi|Thriller,Sci-Fi|Thriller|IMAX,Thriller,War,Western
year_rating,,,,,,,,,,,,,,,,,,,,,
1996,0.000000,2.730769,3.454545,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,2.666667,0.000000,3.838095,0.0,3.117647
1997,0.000000,3.538462,4.150000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,3.400000,0.000000,3.923077,0.0,3.000000
1998,0.000000,0.000000,4.200000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.800000,0.0,0.000000
1999,0.000000,0.000000,4.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,2.000,0.0,0.0,0.000000,0.000000,4.000000,0.000000,3.700000,4.5,4.000000
2000,0.000000,2.588235,3.738462,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,4.000,0.0,3.0,3.416667,0.000000,2.142857,0.000000,3.087912,3.0,4.058824
2001,0.000000,3.000000,3.500000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,3.0,2.500000,0.000000,2.500000,0.000000,3.477273,3.0,3.111111
2002,0.000000,2.750000,4.304348,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,3.000,0.0,0.0,3.750000,0.000000,3.600000,0.000000,3.583333,3.5,3.000000
2003,0.000000,3.833333,3.277778,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,3.375,2.5,0.0,2.333333,0.000000,3.142857,0.000000,3.250000,3.0,4.000000
2004,0.000000,2.700000,4.136364,0.000,0.000000,4.000000,0.000000,0.000000,0.000000,0.0,...,3.000,3.0,3.5,2.125000,0.000000,0.000000,0.000000,3.464286,3.0,3.800000
2005,0.000000,3.357143,3.413043,0.000,0.000000,4.107143,0.000000,0.000000,0.000000,0.0,...,2.000,0.0,0.0,3.000000,0.000000,2.750000,0.000000,3.411765,0.0,4.500000
2006,0.000000,2.166667,4.090909,0.000,0.000000,3.833333,0.000000,0.000000,0.000000,3.0,...,0.000,0.0,0.0,0.500000,0.000000,4.500000,0.000000,3.735294,0.0,3.625000
2007,0.000000,2.583333,3.666667,0.000,0.000000,3.846154,3.000000,0.000000,0.000000,2.8,...,1.500,0.0,2.5,3.375000,0.000000,2.833333,0.000000,3.421875,0.0,3.000000
2008,0.000000,3.000000,3.656250,0.000,0.000000,4.125000,4.000000,0.000000,0.000000,3.5,...,0.000,0.0,0.0,3.125000,0.000000,3.000000,0.000000,3.333333,0.0,4.000000
2009,0.000000,0.000000,3.714286,0.000,0.000000,3.900000,0.000000,3.250000,0.000000,2.5,...,0.000,0.0,0.0,2.000000,0.000000,4.000000,0.000000,2.964286,4.0,3.375000
2010,0.000000,3.500000,3.437500,0.000,0.000000,4.333333,0.000000,3.500000,3.000000,0.0,...,0.000,0.0,0.0,4.000000,0.000000,2.500000,0.000000,2.833333,0.0,3.666667
2011,0.000000,4.500000,3.888889,0.000,0.000000,3.500000,0.000000,0.000000,0.000000,4.0,...,0.000,0.0,0.0,3.500000,0.000000,1.833333,4.000000,3.625000,0.0,4.000000
2012,0.000000,2.625000,3.900000,0.000,4.000000,3.785714,0.000000,3.550000,4.000000,0.0,...,2.500,0.0,0.0,4.166667,0.000000,3.500000,3.666667,3.083333,0.0,4.100000
2013,0.000000,2.500000,3.833333,0.000,3.000000,4.333333,0.000000,5.000000,0.000000,0.0,...,0.000,0.0,0.0,1.500000,0.000000,3.833333,4.000000,3.666667,0.0,4.000000
2014,0.000000,0.000000,3.875000,3.000,3.500000,3.250000,3.833333,3.500000,4.000000,0.0,...,0.000,0.0,0.0,2.500000,5.000000,0.000000,4.000000,4.000000,0.0,4.000000
2015,0.500000,3.100000,3.560976,3.800,3.666667,3.565217,3.833333,3.375000,2.333333,2.5,...,0.000,0.0,0.0,2.900000,4.071429,3.764706,4.000000,2.911765,0.0,3.900000
2016,3.500000,3.545455,3.722222,3.750,3.833333,3.925000,3.388889,3.666667,1.000000,4.0,...,2.500,0.0,0.0,3.555556,3.807692,3.916667,3.666667,3.432432,0.0,3.958333
2017,3.000000,2.637931,3.527778,3.375,3.500000,3.676471,3.700000,1.000000,1.000000,2.0,...,3.000,0.0,0.0,3.864865,4.264706,3.750000,2.500000,3.152174,0.0,2.933333
2018,3.676471,2.588235,3.397436,3.650,3.166667,3.741935,4.142857,3.700000,2.500000,4.0,...,0.000,0.0,0.0,3.128571,3.500000,3.562500,0.000000,3.296296,0.0,3.611111