In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import tree

In [2]:
def find_candidates_for_thresholds(x, y):
    x = x.sort_values().drop_duplicates()
    x_roll_mean = x.rolling(2).mean().dropna()
    y = y[x_roll_mean.index]
    y_roll_mean = y.diff()
    candidates = x_roll_mean[y_roll_mean != 0]
    return candidates.values

#print(find_candidates_for_thresholds(data['age'], data['loan']))
#print(find_candidates_for_thresholds(data['income'], data['loan']))

In [3]:
ames_data = pd.read_csv('data/AmesHousing.csv')
ames_data = ames_data[(ames_data['Lot Frontage'] <=150) & (ames_data['Lot Area'] <=20000)]
ames_sample = ames_data[['Lot Frontage', 'Lot Area', 'SalePrice']].sample(
    n=15, #количество объектов
    random_state=42, #генератор случайных чиселl
    ignore_index=True #сбрасываем счетчик индекса
)

In [4]:
ames_data

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
5,6,527105030,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,195500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2923,2924,923250060,20,RL,80.0,17400,Pave,NaN,Reg,Low,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,160000
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [5]:
ames_sample

    Lot Frontage  Lot Area  SalePrice
0           60.0     11040     108000
1           96.0     10628     193000
2           68.0      9717     142125
3           50.0      9060     150909
4           92.0      9215     204500
5           80.0     10386     305900
6           60.0      7350     139000
7           72.0      8640     229800
8           56.0      6956      97900
9           70.0     12886     175000
10          56.0      4060      99900
11          96.0     11690     207000
12         106.0      8413     312500
13          56.0      8398     144100
14          62.0      7500     176000

In [7]:
x1=ames_sample['Lot Area']
x2=ames_sample['Lot Frontage']
y=ames_sample['SalePrice']

In [8]:
find_candidates_for_thresholds(x1, y)

array([ 5508. ,  7153. ,  7425. ,  7949. ,  8405.5,  8526.5,  8850. ,
        9137.5,  9466. , 10051.5, 10507. , 10834. , 11365. , 12288. ])

In [9]:
find_candidates_for_thresholds(x2, y)

array([ 53.,  58.,  61.,  65.,  69.,  71.,  76.,  86.,  94., 101.])

In [1]:

from sympy import symbols, Eq, solve

In [3]:
x, y = symbols('x, y')
eq1 = Eq(2*x+y, 0)
eq2 = Eq(3*y**2+x-1, 0)
sol = solve([eq1, eq2], [x, y])
sol

[(-1/3, 2/3), (1/4, -1/2)]